-# 使用しないか検討

-# %header
-#   = render partial: "header"
-# %main
-#   .display__feild
-#     %i.fas.fa-file-video
-#     %h3
-#       削除しました。
-#     = link_to root_path, class: 'home-btn-link' do
-#       %i.fas.fa-home

