.index-container
  
  .index-contens
    .logo-area
      = image_tag('simpree_logo_2_20200803.png', class: 'logo-area__image')
    .text-area 
      %h3 簡単に自由に!!
      %p iPhoneなどで撮った動画や<br>スクショ動画を投稿して<br>あなたの発想で<br>使い方いろいろ
    .link-area
      = link_to "ログイン", new_user_session_path, class: "login-link"
      %p /
      = link_to "サインアップ", new_user_registration_path, class: "sign-up-link"