%p jQuery稼働テスト










-# <header>
-#         <h1>Street corner landscape</h1>
-#     </header>
-#     <main>
-#         <section>
-#             <div><img src="https://tatsuya-lab.com/wp-content/uploads/2020/02/SplitShire-04326.jpg" alt=""/></div>
-#             <h3>Logo Design for and recipe</h3>
-#             <p>Because the policy also takes into account commons-free rules, it is possible to have the plagiarism required by applicable law in the text of the work, the purpose of the license is to be able to take into account that it can be quoted and restricted in the media What.</p>
-#         </section>
-#         <section>
-#             <div><img src="https://tatsuya-lab.com/wp-content/uploads/2020/02/SplitShire-04500.jpg" alt=""/></div>
-#             <h3>Air on Behance</h3>
-#             <p> In addition, the copyright of the free copyright was exempted because of the same media and the exclusion of the requirement, which is clearly quoted in the main and servant citations granted by the policy. However, it is not the work of the authors who can distinguish and fulfill the views that are distinguished by the research authors</p>
-#         </section>
-#         <section>
-#             <div><img src="https://tatsuya-lab.com/wp-content/uploads/2020/02/SplitShire-5459.jpg" alt=""/></div>
-#             <h3>Vector fruit and berry</h3>
-#             <p>Because the policy also takes into account commons-free rules, it is possible to have the plagiarism required by applicable law in the text of the work, the purpose of the license is to be able to take into account that it can be quoted and restricted in the media What.</p>
-#         </section>
-#         <section>
-#             <div><img src="https://tatsuya-lab.com/wp-content/uploads/2020/02/SplitShire-5613.jpg" alt=""/></div>
-#             <h3>Brown Brown</h3>
-#             <p> In addition, the copyright of the free copyright was exempted because of the same media and the exclusion of the requirement, which is clearly quoted in the main and servant citations granted by the policy. However, it is not the work of the authors who can distinguish and fulfill the views that are distinguished by the research authors</p>
-#         </section>
-#         <section>
-#             <div><img src="https://tatsuya-lab.com/wp-content/uploads/2020/02/SplitShire-7892.jpg" alt=""/></div>
-#             <h3>Cafe republic</h3>
-#             <p>Because the policy also takes into account commons-free rules, it is possible to have the plagiarism required by applicable law in the text of the work, the purpose of the license is to be able to take into account that it can be quoted and restricted in the media What.</p>
-#         </section>
-#         <section>
-#             <div><img src="https://tatsuya-lab.com/wp-content/uploads/2020/02/SplitShire-08470.jpg" alt=""/></div>
-#             <h3>Works pinie design</h3>
-#             <p> In addition, the copyright of the free copyright was exempted because of the same media and the exclusion of the requirement, which is clearly quoted in the main and servant citations granted by the policy. However, it is not the work of the authors who can distinguish and fulfill the views that are distinguished by the research authors</p>
-#         </section>
-#         <section>
-#             <div><img src="https://tatsuya-lab.com/wp-content/uploads/2020/02/SplitShire-08505.jpg" alt=""/></div>
-#             <h3>Cycle Park Tony</h3>
-#             <p>Because the policy also takes into account commons-free rules, it is possible to have the plagiarism required by applicable law in the text of the work, the purpose of the license is to be able to take into account that it can be quoted and restricted in the media What.</p>
-#         </section>
-#         <section>
-#             <div><img src="https://tatsuya-lab.com/wp-content/uploads/2020/02/SplitShire-3030032-2.jpg" alt=""/></div>
-#             <h3>Vector raspberry seamless</h3>
-#             <p> In addition, the copyright of the free copyright was exempted because of the same media and the exclusion of the requirement, which is clearly quoted in the main and servant citations granted by the policy. However, it is not the work of the authors who can distinguish and fulfill the views that are distinguished by the research authors</p>
-#         </section>
-#         <section>
-#             <div><img src="https://tatsuya-lab.com/wp-content/uploads/2020/02/splitshire-london-collection-5200.jpg" alt=""/></div>
-#             <h3>Typography inspiration</h3>
-#             <p>Because the policy also takes into account commons-free rules, it is possible to have the plagiarism required by applicable law in the text of the work, the purpose of the license is to be able to take into account that it can be quoted and restricted in the media What.</p>
-#         </section>
-#         <section>
-#             <div><img src="https://tatsuya-lab.com/wp-content/uploads/2020/02/splitshire-london-collection-5207.jpg" alt=""/></div>
-#             <h3>Artists if you need Art Work</h3>
-#             <p> In addition, the copyright of the free copyright was exempted because of the same media and the exclusion of the requirement, which is clearly quoted in the main and servant citations granted by the policy. However, it is not the work of the authors who can distinguish and fulfill the views that are distinguished by the research authors</p>
-#         </section>
        
-#         <!--リピート-->
-#         <section>
-#             <div><img src="photo/SplitShire-04326.jpg" width="1000" height="1500" alt=""/></div>
-#             <h3>Logo Design for and recipe</h3>
-#             <p>Because the policy also takes into account commons-free rules, it is possible to have the plagiarism required by applicable law in the text of the work, the purpose of the license is to be able to take into account that it can be quoted and restricted in the media What.</p>
-#         </section>
-#         <section>
-#             <div><img src="photo/SplitShire-04500.jpg" width="1400" height="933" alt=""/></div>
-#             <h3>Air on Behance</h3>
-#             <p> In addition, the copyright of the free copyright was exempted because of the same media and the exclusion of the requirement, which is clearly quoted in the main and servant citations granted by the policy. However, it is not the work of the authors who can distinguish and fulfill the views that are distinguished by the research authors</p>
-#         </section>
-#         <section>
-#             <div><img src="photo/SplitShire-5459.jpg" width="1246" height="2096" alt=""/></div>
-#             <h3>Vector fruit and berry</h3>
-#             <p>Because the policy also takes into account commons-free rules, it is possible to have the plagiarism required by applicable law in the text of the work, the purpose of the license is to be able to take into account that it can be quoted and restricted in the media What.</p>
-#         </section>
-#         <section>
-#             <div><img src="photo/SplitShire-5613.jpg" width="1000" height="1500" alt=""/></div>
-#             <h3>Brown Brown</h3>
-#             <p> In addition, the copyright of the free copyright was exempted because of the same media and the exclusion of the requirement, which is clearly quoted in the main and servant citations granted by the policy. However, it is not the work of the authors who can distinguish and fulfill the views that are distinguished by the research authors</p>
-#         </section>
-#         <section>
-#             <div><img src="https://tatsuya-lab.com/wp-content/uploads/2020/02/SplitShire-7892.jpg" alt=""/></div>
-#             <h3>Cafe republic</h3>
-#             <p>Because the policy also takes into account commons-free rules, it is possible to have the plagiarism required by applicable law in the text of the work, the purpose of the license is to be able to take into account that it can be quoted and restricted in the media What.</p>
-#         </section>
-#         <section>
-#             <div><img src="https://tatsuya-lab.com/wp-content/uploads/2020/02/SplitShire-08470.jpg" alt=""/></div>
-#             <h3>Works pinie design</h3>
-#             <p> In addition, the copyright of the free copyright was exempted because of the same media and the exclusion of the requirement, which is clearly quoted in the main and servant citations granted by the policy. However, it is not the work of the authors who can distinguish and fulfill the views that are distinguished by the research authors</p>
-#         </section>
-#         <section>
-#             <div><img src="https://tatsuya-lab.com/wp-content/uploads/2020/02/SplitShire-08505.jpg" alt=""/></div>
-#             <h3>Cycle Park Tony</h3>
-#             <p>Because the policy also takes into account commons-free rules, it is possible to have the plagiarism required by applicable law in the text of the work, the purpose of the license is to be able to take into account that it can be quoted and restricted in the media What.</p>
-#         </section>
-#         <section>
-#             <div><img src="https://tatsuya-lab.com/wp-content/uploads/2020/02/SplitShire-3030032-2.jpg" alt=""/></div>
-#             <h3>Vector raspberry seamless</h3>
-#             <p> In addition, the copyright of the free copyright was exempted because of the same media and the exclusion of the requirement, which is clearly quoted in the main and servant citations granted by the policy. However, it is not the work of the authors who can distinguish and fulfill the views that are distinguished by the research authors</p>
-#         </section>
-#         <section>
-#             <div><img src="https://tatsuya-lab.com/wp-content/uploads/2020/02/splitshire-london-collection-5200.jpg" alt=""/></div>
-#             <h3>Typography inspiration</h3>
-#             <p>Because the policy also takes into account commons-free rules, it is possible to have the plagiarism required by applicable law in the text of the work, the purpose of the license is to be able to take into account that it can be quoted and restricted in the media What.</p>
-#         </section>
-#         <section>
-#             <div><img src="https://tatsuya-lab.com/wp-content/uploads/2020/02/splitshire-london-collection-5207.jpg" alt=""/></div>
-#             <h3>Artists if you need Art Work</h3>
-#             <p> In addition, the copyright of the free copyright was exempted because of the same media and the exclusion of the requirement, which is clearly quoted in the main and servant citations granted by the policy. However, it is not the work of the authors who can distinguish and fulfill the views that are distinguished by the research authors</p>
-#         </section>
-#     </main>
-#     <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
-#     <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
-#     <script type="text/javascript">
-#         $(window).load(function(){
-#             $('main').masonry({
-#   // options
-#   itemSelector: 'section',
-#   columnWidth: 210
-# });

-#         });

-#     </script>


-# <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
-# <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>

