.newPost__container {
  width: 100%;
  height: 100%;
  padding-top: 100px;
    &__form {
    width: 100%;
    height: 100%;
    padding-top: 60px;
    .clipArea {
      display: block;
      width: 450px;
      height: 170px;
      border: 1px dashed #9f9f9f;
      margin-bottom: 20px;
      cursor: pointer;
      border-radius: 5px;
      background-color: #ffffff;
      margin: 0 auto;
      position: relative;
      i {
        display: block;
        font-size: 35px;
        color: #9f9f9f;
        text-align: center;
        line-height: 170px;
      }
      p {
        color: #9f9f9f;
        font-size: 12px;
        position: absolute;
        bottom: 30px;
        left: 120px;
      }
      .clip {
        display: none;
      }
    }
    .title {
      display: block;
      width: 450px;
      height: 30px;
      border-radius: 5px;
      border-style: none;
      margin: 20px auto;
      font-size: 14px;
      padding-left: 10px;
      outline: none;
    }
    .text {
      display: block;
      width: 450px;
      height: 150px;
      border-radius: 5px;
      border-style: none;
      margin: 0 auto 20px;
      font-size: 14px;
      padding-left: 10px;
      padding-top: 5px;
      outline: none;
    }
    .category {
      display: block;
      width: 450px;
      height: 30px;
      border-radius: 5px;
      border-style: none;
      margin: 0 auto;
      font-size: 14px;
      padding-left: 10px;
      outline: none;
      margin-bottom: 30px;
    }
    .send-btn {
      width: 50px;
      height: 50px;
      background-color: #ffffff;
      border-radius: 50%;
      line-height: 50px;
      text-align: center;
      box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.2);
      padding-top: 5px;
      padding-right: 4px;
      border-style: none;
      cursor: pointer;
      outline: none;
      position: fixed;
      bottom: 90px;
      right: 30px;
      z-index: 100;
      i {
        font-size: 25px;
        color: #F37D26;
        margin-bottom: 20px;
      }
    }
    .home-btn-link {
      width: 50px;
      height: 50px;
      background-color: #ffffff;
      border-radius: 50%;
      line-height: 50px;
      text-align: center;
      box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.2);
      padding-top: 2px;
      border-style: none;
      cursor: pointer;
      outline: none;
      position: fixed;
      bottom: 30px;
      right: 30px;
      z-index: 100;
      i {
        font-size: 25px;
        color: #F37D26;
        margin: 0;
      }
    }
  }
}

